---
import MainLayout from "@/layout/MainLayout.astro";
import MetadataLayout from "@/layout/MetadataLayout.astro";
import { PROJECTS } from "@/models/projects";
import Button from "@/components/atoms/Button.astro";
import type { GetStaticPaths } from "astro";
import Github from "@/icons/Github.astro";
import Link from "@/icons/Link.astro";
import { ArrowLeft } from "lucide-react";
import { getLangFromUrl } from "@/i18n/utils";

export const getStaticPaths = (() => {
  return PROJECTS.map((project) => ({
    params: { id: project.title.toLowerCase().replace(/\s+/g, "-") },
    props: { project },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.props;

// Detectar idioma desde la URL
const lang = getLangFromUrl(Astro.url);

// Construir la URL de vuelta
// Si hay lang => /{lang}/project
// Si no hay => /project
const backUrl = lang === "en" ? `/#${project.title.toLowerCase().replace(/\s+/g, "-")}` : `/${lang}#${project.title.toLowerCase().replace(/\s+/g, "-")}`;
---

<MetadataLayout title="Lucas Navarro" description="Lucas Navarro`s porfolio">
  <MainLayout lang="en">
    <section class="pt-8 px-6 space-y-8">
      <a
        href={backUrl}
        class="inline-flex items-center gap-2 text-sm text-muted-foreground hover:text-primary transition"
      >
        <ArrowLeft />
        <span>Volver</span>
      </a>

      <div>
        <p class="text-muted-foreground text-sm">Project name</p>
        <h1
          class="text-primary scroll-m-20 text-2xl font-extrabold tracking-tight text-balance"
        >
          {project.title}
        </h1>
      </div>

      <p>{project.description}</p>

      <div class="flex items-center justify-start gap-4">
        <Button variant="primary">
          <Link />
          Ver proyecto
        </Button>
        <Button variant="secondary">
          <Github />
          Ver repositorio
        </Button>
      </div>
    </section>
  </MainLayout>
</MetadataLayout>
