---
import ArrowRight from "@/icons/ArrowRight.astro";
import { Image } from "astro:assets";

interface Props {
  id: string;
  title: string;
  description: string;
  imageSrc?: string;
  imageAlt?: string;
}
const { id, title, description, imageSrc, imageAlt} = Astro.props;
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const langUrl = lang === "en" ? "" : `/${lang}`
---

<a
  id={id}
  href={`${langUrl}/project/${id}`}
  class="group break-inside-avoid p-4 hover:bg-input/30 ring-0 ring-muted-foreground transition-all duration-300
       hover:ring-2 cursor-pointer animate-card-appear"
>
  <header class="font-bold mb-2 flex items-center justify-between gap-2">
    <span transition:name={`title-${id}`} class="w-full text-balance">
      {title}
    </span>
  </header>

  <small transition:name={`desc-${id}`} class="block mb-4 text-sm">
    {description}
  </small>

  {imageSrc && (
    <Image
      src={imageSrc}
      alt={imageAlt ?? title}
      transition:name={`image-${id}`}
      class="w-full rounded-xl"
      width="800"
      height="400"
    />
  )}
</a>

