---
import type { Experience } from "@/models/experiences";
import { formatDate } from "@/utils/formatDate";
import { diffBetweenDate } from "@/utils/diffBetweenDate";
import Timeline from "../atoms/Timeline.astro";

interface Props {
  experiences?: Experience[];
}

const { experiences = [] } = Astro.props;
---

<Timeline class="mt-6 md:mt-12">
  {experiences.map((exp, index) => (
    <li class="flex gap-4">

      <!-- Punto y línea vertical -->
      <div class="flex flex-col items-center">
        <div class="bg-neutral-500 w-4 h-4 rounded-full mt-1" />
        <div class={`w-0.5 flex-1 bg-border mt-2 ${index === experiences.length - 1 ? 'hidden' : ''}`} />
      </div>
      <!-- Año / Mes -->
      <div class="flex flex-col items-end w-10 md:w-20">
        <strong class="block text-lg md:text-3xl text-left font-bold text-neutral-500 dark:text-neutral-500">
          {formatDate(exp.date.start).year}
        </strong>
        <small class="text-xs md:text-lg text-left font-bold text-neutral-500 dark:text-neutral-500">
          {formatDate(exp.date.start).month.slice(0,5).toUpperCase()}
        </small>
      </div>

      <!-- Contenido -->
      <div class="flex-1 pb-8">
        <header class="space-y-1 mb-4">
          <strong class="text-md font-normal text-primary">{exp.position}</strong>
          <p class="text-md font-normal flex flex-col md:flex-row items-start md:items-center gap-1 md:gap-3">
            {exp.company}
            <small class="text-muted-foreground text-sm">
              ({diffBetweenDate(exp.date.start, exp.date.end)} {diffBetweenDate(exp.date.start, exp.date.end) > 1 ? "months" : "month"})
            </small>
          </p>
        </header>

        <div class="space-y-2">
          <p class="text-sm mb-2">{exp.roleDescription}</p>
          <strong class="text-sm font-medium underline">Achievements:</strong>
          {exp.achievements && exp.achievements.length > 0 && (
            <ul class="list-disc marker:text-primary list-inside space-y-1 text-sm">
              {exp.achievements.map((achievement) => (
                <li>{achievement}</li>
              ))}
            </ul>
          )}
        </div>
      </div>
    </li>
  ))}
</Timeline>